<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

</head>
<body class="{{body_class}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
  <header id="gh-head" class="gh-head gh-outer position-absolute w-100 py-5 bg-transparent h-auto overflow-hidden">
    <div class="gh-head-inner gh-inner py-3 mb-md-5 container d-block d-md-grid h-auto px-4">
      <div class="gh-head-brand h-auto">
        <div class="gh-head-brand-wrapper">
          <a class="gh-head-logo d-flex align-items-center text-capitalize" href="{{@site.url}}">
            <img src="{{@site.logo}}" class="me-3" alt="{{@site.title}}">
            {{@site.title}}
          </a>
        </div>
        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
        <button class="gh-burger"></button>
      </div>
      <nav class="position-fixed w-100 gh-sm-menu d-flex">
        <ul class="my-auto nav flex-column">
          <li class="mb-2 fade"><a class="text-white text-decoration-none fs-3" href="https://blog.noufal.engineer">Home</a></li>
          <li class="mb-2 fade"><a class="text-white text-decoration-none fs-3" href="https://blog.noufal.engineer/about/">About</a></li>
        </ul>
      </nav>
      <nav class="gh-head-menu me-0 d-none d-md-flex">
        <ul class="ms-auto nav">
          <li class="nav-home"><a href="/">Home</a></li>
          <li class="nav-about"><a href="/about">About</a></li>
        </ul>
        <button class="gh-search gh-icon-btn text-white" data-ghost-search>{{> "icons/search"}}</button>  
      </nav>
    </div>
  </header>

  <main id="site-main" class="site-main">
    {{{body}}}
  </main>
  
  <script>
    //const removeGhostPowered = () => {
      const interval = setInterval(() => {
        let portal = document.getElementById("ghost-portal-root");
        try {
          let frame = portal.querySelector('[title="portal-popup"]');
          if (frame !== null) {
            const styleElement = document.createElement("style");
            if (styleElement != null || styleElement != undefined) {
              styleElement.innerHTML = `.gh-portal-powered { display: none; } .gh-portal-closeicon {color: rgba(0, 0, 0, 0.8)}`;
              frame.contentDocument.head.appendChild(styleElement);
            }
          } else {
            frame = null
          }
        } catch(e) {}
      })
    //}
  </script>

  <footer>
    <div class="gh-foot">
      <div class="d-block d-md-flex container">
        <div class="w-md-50 px-5 p-md-0">
          <h2 class="text-wrap text-start text-white">Subscribing to the newsletter keeps you upto date!</h2>
            <a href="#/portal" class="btn mt-3" style="opacity: 1">
              <span class="btn__circle"></span>
              <span class="btn__white-circle">
                <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                  <path d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z"></path>
                </svg>
              </span>
              <span class="btn__text fs-4 text-white">Join Today!</span>
            </a>
        </div>
        <div class="w-md-50 d-block d-md-flex align-items-end fs-4 flex-column text-center mt-5 mt-md-0">
          <a href="/about">About</a>
          <span class="fs-1 fw-semibold d-md-none mx-2">•</span>
          <a href="http://noufal.engineer" target="_blank" rel="noopener noreferrer">Portfolio</a>
          <span class="fs-1 fw-semibold d-md-none mx-2">•</span>
          <a href="mailto:jnrahman12@gmail.com">Contact</a>
          <p class="fs-5 my-3">{{@site.title}} © {{date format="YYYY"}} All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>

  {{#is "post, page"}}
    {{> "pswp"}}
  {{/is}}

  <script src="{{asset "built/main.min.js"}}"></script>

  {{ghost_foot}}

</body>
</html>
